$font-size-large: 1.2rem;
$font-size-normal: 1rem;
$font-size-small: 0.8rem;

$themeBlueForeground: #292d3e;
$themeBlueBackground: #1b1e2b;
$themeGreen: #c3e88d;
$themeRed: #ce392b;
$themePurple: #c777a7;
$themeYellow: #ffcb6b;
$themeGray: #a6acb2;

$screen-small: 400px;
$screen-medium: 1000px;
$screen-large: 1400px;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
