$font-size-large: 1.2rem;
$font-size-normal: 1rem;
$font-size-small: 0.8rem;

$themeBlueForeground: "#292D3E";
$themeBlueBackground: "#1B1E2B";
$themeGreen: "#C3E88D";
$themeRed: "#CE392B";
$themePurple: "#C777A7";
$themeYellow: "#FFCB6B";
$themeGray: "#A6ACB2";

$screen-small: 400px;
$screen-medium: 1000px;
$screen-large: 1400px;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
