@import "../../constants/constants";
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400&family=Tajawal:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap");

.outer-about-container {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .main-container {
    width: 900px;

    @media (max-width: 920px) {
      width: 50%;
    }
    @media (max-width: 965px) {
      width: 85%;
    }
    @media (max-width: 700px) {
      width: 95%;
    }

    .title-container {
      font-family: "Lora", serif;
      font-weight: 100;
      display: flex;
      flex-direction: row;
      text-align: center;

      &:before {
        content: "";
        margin-top: 30px;
        margin-right: 10px;
        display: block;
        width: 20%;
        height: 2px;
        background-color: $themeWhite;
      }

      &:after {
        content: "";
        margin-top: 30px;
        margin-left: 10px;
        display: block;
        width: 70%;
        height: 2px;
        background-color: $themeWhite;
      }

      .title {
        font-size: 50px;
        color: $themeRed;
      }
    }

    .column-wrapper {
      display: flex;
      flex-direction: row;

      @media (max-width: 600px) {
        flex-direction: column;
      }

      .column-1 {
        width: 57%;
        display: flex;
        flex-direction: column;
        background-color: rgba(18, 18, 18, 0.9);

        @media (max-width: 600px) {
          width: 100%;
        }

        p {
          color: rgb(138, 138, 138);
          margin-left: 10px;
          margin-right: 10px;
          font-size: 17px;
          line-height: 25px;
          font-family: "Cairo", sans-serif;

          a {
            color: $themeRed;
          }
        }

        .column-1-header {
          color: $themeRed;
          margin-left: 10px;
          margin-right: 10px;
          font-size: 17px;
          line-height: 25px;
          font-family: "Cairo", sans-serif;
        }
      }

      .column-2 {
        text-align: center;
        width: 43%;
        display: flex;
        flex-direction: column;
        background-color: rgba(18, 18, 18, 0.9);

        @media (max-width: 600px) {
          width: 100%;
        }

        h1 {
          color: $themeRed;
          margin-left: 10px;
          margin-right: 10px;
          font-size: 17px;
          line-height: 25px;
          font-family: "Cairo", sans-serif;
        }

        .tech-grid {
          display: grid;

          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(4, 1fr);

          i {
            color: white;
            font-size: 32px;
            margin-bottom: 7px;
          }

          .sql {
            margin-left: 25px;
            width: 64px;
            filter: brightness(0) invert(1);
          }

          .firebase {
            width: 30px;
            margin-left: 45px;
            filter: brightness(0) invert(1);
          }
        }
      }
    }
  }

  .button-container {
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(13, 13, 13, 0.9);

    @media (max-width: 920px) {
      width: 50%;
    }
    @media (max-width: 965px) {
      width: 85%;
    }
    @media (max-width: 700px) {
      width: 95%;
    }

    button {
      margin-top: 30px;
      border-radius: 3px;
      cursor: pointer;
      color: $themeWhite;
      font-family: "Roboto Mono", monospace;
      font-size: 16px;
      font-weight: 200;
      padding: 17px;
      background-color: $themeRed;
      border: none;
      margin-right: 5px;
      outline: none;
      margin-bottom: 25px;

      @media (max-width: 710px) {
        padding: 15px;
        font-size: 15px;
      }

      &:hover {
        color: red;
      }
    }
  }
}
