@import "../../constants/constants";
@import url("https://fonts.googleapis.com/css2?family=Castoro&family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

.navContainer {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: $themeRed;
  z-index: 2;

  .nav-item {
    font-family: "Roboto Mono", monospace;
    list-style: none;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
    color: $themeLightYellow;

    &:hover,
    &:focus {
      color: red;
    }
  }
}
